extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Update room
      form.form.form--login
        .form__group
          label.form__label(for='name') Name
          input#email.form__input(type='name', placeholder='name')
        .form__group
          label.form__label(for='price') Price
          input#email.form__input(type='price', placeholder='price')
        .form__group
          label.form__label(for='desc') Description
          input#email.form__input(type='desc', placeholder='desc')
        .form__group
          button.btn.btn--green Update
